.durationbox {
    max-width: max-content;
    min-width: fit-content;
    height: 24px;
    font-size: 12px;
    text-align: 'center'
}

.listbox {
    margin-left: 64px;
    font-size: 14px;
    margin-top: 12px;
    margin-right: 6px
}